@font-face{
  font-family: "Open Sans";
  src: url("./fonts/opensans.woff") format("woff"), url("./fonts/opensans.woff2") format("woff2");
  font-weight: 400;
}

@font-face{
  font-family: "Open Sans";
  src: url("./fonts/opensanssemibold.woff") format("woff"), url("./fonts/opensanssemibold.woff2") format("woff2");
  font-weight: 600;
}

@font-face{
  font-family: "Open Sans";
  src: url("./fonts/opensansbold.woff") format("woff"), url("./fonts/opensansbold.woff2") format("woff2");
  font-weight: 700;
}

*,
*:after,
*:before{
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
}

.container{
  width: 1400px;
  padding-left: 81px;
  padding-right: 81px;
  margin: 0 auto;
}
